/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

@charset "utf-8";
@import "~bulma/bulma";

.card-footer button {
  border: none;
}

.error-flash, .info-flash {
  width: calc(100% - 70%);
  margin: 0 auto;
}

.navbar-item {
  &.has-dropdown {
    .navbar-dropdown {
      display: none;
    }
    &.is-active {
      .navbar-dropdown {
        display: block;
      }
     }
   }
}
