<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-picture">
    <img src="<%= @branch.avatar_url %>">
  </div>

  <div class="cd-timeline-content">
    <h2><%= @branch.branch_name %></h2>
    <p style="overflow: auto;">
      <%= @branch.commit_message %>
    </p>
    <a href="#0" class="cd-read-more">Deploy</a>
    <span class="cd-date"><%= @branch.commit_date %></span>
  </div>
</div>